<h2>EXECUTION STATUS</h2>
  <div class="table-wrapper">
    <div class="table-controls">
      <button id="toggleFilters" title="Show Filters">🔍</button>
    </div>
	
	<table name="status" id="status">
    <thead>
        <tr>
            <th>Test Name</th>
            <th style="width:100px;">Category</th>
            <th style="width:110px;">Start Time</th>
            <th style="width:110px;">End Time</th>
            <th style="width:70px;">Duration</th>
            <th style="width:50px;">Status</th>
        </tr>
        <tr class="filter-row" >
            <th><input type="text" placeholder="Filter Test Name" /></th>
            <th><input type="text" placeholder="Filter Category" /></th>
            <th><input type="text" placeholder="Filter Start Time" /></th>
            <th><input type="text" placeholder="Filter End Time" /></th>
            <th><input type="text" placeholder="Filter Duration" /></th>
            <th><input type="text" placeholder="Filter Status" /></th>
        </tr>
    </thead>
    <tbody>
        <!--STATUS_TABLE-->
    </tbody>
</table>
</div>