<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/*ICON*//apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/*ICON*//favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/*ICON*//favicon-16x16.png">
    <link rel="manifest" href="/*SITE*//site.webmanifest">
    <meta name="version" content="1.0.0">
    <meta name="author" content="Bala">
    <meta name="license" content="MIT">
    <meta name="description" content="Enterprise-grade Selenium Html report framework">
    <meta name="repository" content="https://github.com/Trgan-Reports/">
    <meta name="framework" content="Trgan Report">
    <title>Trgan Report</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/*SRC*/">
</head>