          <div class="step">
            <span class="gherkin"><!--KEYWORD--></span>
            <span class="description /*STATUS*/" onclick="expandLogs(this.parentElement)"><!--DESCRIPTION--></span>
            <span class="step-arrow" title="see logs">▶</span>
            <div class="spacer"></div> 
            <!--IMG-->
            <span class="timestamp"><!--DURATION--></span>
            <span class="status status-/*STATUS*/-icn"><!--ICON--></span>
          </div>
          <div class="log" style="display:none;">
<!--LOGS-->
          </div>
		 